.search {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  width: 480px;
}
.section {
  margin-left: 50px;
  margin-right: 50px;
  width: 78vh;
  margin-top: 20px;
  background-color: var(--color-1) !important;
  border-radius: 200px;
}

.section div {
  border-radius: 200px !important;
}

.section span {
  background-color: transparent !important;
  border: none !important;
  border-radius: 20px;
}

.section input {
  border: none !important;
  background-color: var(--color-1) !important;
  border-radius: 200px !important;
  margin: 4px;
}
@media (min-width: 765px) {
  .section {
    overflow: hidden;
  }

  .search {
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    width: 480px;
  }
  .section {
    margin-left: 50px;
    margin-right: 50px;
    width: 60vh;
    margin-top: 20px;
    background-color: var(--color-1) !important;
    border-radius: 200px;
  }

  .section div {
    border-radius: 200px !important;
  }

  .section span {
    background-color: transparent !important;
    border: none !important;
    border-radius: 20px;
  }

  .section input {
    border: none !important;
    background-color: var(--color-1) !important;
    border-radius: 200px !important;
    margin: 4px;
  }
}
