.section {
  background-color: var(--color-4);
  height: 55vh;
  width: 480px;
  border: solid var(--color-4);
  overflow: hidden;
}
.label {
  text-align: center;
  color: var(--color-1);
  z-index: 10;
}
.section h4 {
  position: absolute;
  width: 111px;
  height: 23px;
  left: 28px;
  top: 151px;

  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #3f3a3a;
}
.section p {
  position: absolute;
  width: 61px;
  height: 36px;
  left: 48px;
  top: 298px;
}
.img {
  position: absolute;
  width: 150px;
  height: 170px;
  left: 28px;
  top: 194px;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}
.a:hover {
  text-decoration: underline;
}
@media (min-width: 765px) {
  .section {
    height: 50vh;
  }
  .img {
    position: absolute;
    left: 450px;
    top: 154px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  .label {
    text-align: center;
    color: var(--color-1);
    z-index: 10;
  }

  .section p {
    position: flex;
    width: 61px;
    height: 36px;
    left: 465px;
    top: 254px;
  }
}
