.section {
   background-color: var(--mainColor);
   border: 1px solid var(--mainColor);
   height: 100vh;
   width: 480px;
   overflow: hidden;
}

.section h1 {
   position: absolute;
   width: 320px;
   margin-left: 40px;
   margin-top: 15px;
   text-transform: capitalize;
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   color: var(--color-5);
}

.card {
   margin-top: 10px !important;
   margin: 0;
   border-radius: 15px;
   padding: 0;
   cursor: pointer;
   background-color: var(--color-1);
}

.image img {
   border-radius: 10px;
   object-fit: 'cover';
   margin-left: 20px !important;
   margin-top: 20px !important;
}

.title {
   text-transform: capitalize;
   margin-top: 23px;
   margin-left: 5px;
}

.title h6 {
   text-transform: capitalize;
   font-style: normal;
   color: var(--color-2);
}

.title span {
   text-transform: capitalize;
   color: var(--color-2);
   font-size: small;
   margin-bottom: 15px;
}

@media (min-width: 768px) {
   .section {
      height: 100vh;
      width: 470px;
      overflow: hidden;
   }
}

.section p {
   margin-left: 120px !important;
   cursor: pointer;
   color: blue;
}

.section h1 {
   margin-left: 20px !important;
}

.img {
   margin-left: 0 !important;
}