.section {
   background-color: var(--mainColor);
   border: 1px solid var(--mainColor);
      height: 1020px;
      width: 480px;
      overflow: hidden;
   box-shadow: 0px 0px 5px 0px var(--secondColor);
}

.title {
   text-transform: capitalize;
   margin: 30px;
}

.title h4 {
   color: var(--secondColor);
   font-size: 35px;
}

.section span {
   background-color: var(--color-1) !important;
   border: none !important;
   border-radius: 20px;
   width: 405px;
}

.section input {
   position: absolute;
   border: none !important;
   background-color: var(--color-1) !important;
   border-radius: 200px !important;
   margin: 4px;
}

.section button {
   width: 130px;
}

.button {
   border: 1;
   box-shadow: none;
   border-radius: 6px;
   background-color: var(--secondColor);
   color: var(--mainColor);
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   border-color: var(--secondColor);
}

.button:hover {
   background-color: var(--mainColor);
   border-color: var(--secondColor);
}

.clicked:hover {
   color: var(--color-2);
   border-color: var(--secondColor);
}

@media (min-width: 765px) {
   .section {
      width: 440px;
         height: 110vh;
         overflow: hidden;
   }
}