.section {
   background-color: var(--mainColor);
   border: 1px solid var(--mainColor);
   height: 1020px;
   width: 480px;
   overflow: hidden;
   box-shadow: 0px 0px 5px 0px var(--secondColor);
}

.hero {
   position: relative;
   width: 100%;
   background-color: var(--color-1) !important;
}

.logout {
   position: absolute;
   margin: 1.5rem;
   z-index: 1;
   justify-content: end;
   margin-block-end: 5px;
}

.profile {
   height: 40vh;
   width: 100%;
   background-color: var(--secondColor);
   display: flex;
   align-items: center;
   padding-bottom: 3rem;
   padding-left: 2.5rem;
   padding-right: 1.5rem;
}

.title img {
   border-radius: 60px;
}

.profile h3 {
   z-index: 2px;
}

.content {
   position: absolute;
   margin-left: 10px;
   top: 90%;
   width: 95%;
   height: 100vh;
   background-color: var(--color-1);
   border-radius: 1.5rem 1.5rem 0 0;
   padding: 1.5rem;
}

@media (min-width: 765px) {
   .section {
      width: 440px;
      height: 100vh;
   }
}