.section {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  height: 1020px;
  width: 480px;
  overflow: hidden;
}
.hero {
  position: relative;
  width: 480px;
  background-color: var(--color-1) !important;
}
.iconBack {
  position: absolute;
  margin: 1.5rem;
  z-index: 1;
}
.img {
  height: 40vh;
  width: 480px;
  background-color: var(--secondColor);
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}
.img p,
.img h3 {
  z-index: 2px;
}
.buttonControl {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.buttonControl button {
  background-color: var(--secondColor);
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  margin-left: 1rem;
  border-radius: 1rem;
}

.content {
  position: absolute;
  top: 90%;
  width: 450px;
  height: 100vh;
  background-color: var(--color-1);
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1.5rem;
}

@media (min-width: 765px) {
  .section {
    height: 100vh;
  }
}
