.section {
   background-color: var(--mainColor);
   border: 1px solid var(--mainColor);
   height: 1020px;
      width: 480px;
      box-shadow: 0px 0px 5px 0px var(--secondColor);
}

.section span {
   background-color: var(--color-1) !important;
   border: none !important;
   border-radius: 60px;
   height: 50px;
   margin-top: 20px;
   width: 100%;
   margin-left: 20px;
   margin-right: 20px;
}

.section input {
   border: none !important;
   background-color: var(--color-1) !important;
   border-radius: 50px !important;
   margin: 0;
   height: 30px;
}

.section input:hover {
   color: var(--color-5);
}

.section span:hover,
.section span:focus {
   box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11) !important;
   border: 3px solid var(--secondColor) !important;
}

.back {
   margin-top: 20px;
   margin-left: 20px;
   background-color: var(--color-1);
   border-radius: 20px;
   width: 50px;
}

.back:hover {
   background-color: var(--secondColor);
   color: var(--color-1);
}

.section h2 {
   text-transform: capitalize;
   color: var(--secondColor);
   margin-top: 17px;
   margin-left: 50px !important;
   margin-bottom: 30px;
}

.images {
   margin-left: 20px !important;
}

.images img {
   border-radius: 15px;
}

.title {
   text-transform: capitalize;
   margin-left: 15px !important;
}

.title h4 {
   text-transform: capitalize;
   margin-top: 0;
   margin-left: 0;
}

.title span {
   margin-top: 15px !important;
   color: var(--color-3);
}

.title h5 {
   margin-top: 5px;
   font-size: medium;
   color: var(--color-2);
}

.response {
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: space-around;
}

.response button {
   background-color: var(--secondColor);
   color: var(--color-1);
   width: 50px;
   height: 50px;
   padding: 0;
   border-radius: 60px;
   border-color: var(--secondColor) !important;
}

.response button:hover {
   background-color: var(--color-1);
   color: var(--secondColor);
}

@media (min-width: 765px) {
   .section {
      width: 440px;
         height: 130vh;
   }
}