.section {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  width: 480px !important;
  overflow: hidden;
}

@media (min-width: 765px) {
  .section {
    height: 100vh;
    width: 480;
  }
}
