.section {
   background-color: var(--mainColor);
   border: 1px solid var(--mainColor);
   width: 850px;
}
.navbar {
   cursor: pointer;
}

@media (min-width: 765px) {
   .section {
      overflow: hidden;
      width: 150px;
   }
   .navbar {
      margin-right: 440px !important;
      margin-left: 440px !important;
   }
}
