.section {
   background-color: var(--mainColor);
   border: 1px solid var(--mainColor);
   height: 1020px;
   width: 480px;
   overflow: hidden;
   box-shadow: 0px 0px 5px 0px var(--secondColor);
}

.right h4 {
   text-align: center;
   color: var(--secondColor);
   font-weight: 600;
   font-size: 2rem !important;
   margin-bottom: 30px;
}

.section p {
   text-align: center;
   color: var(--color-2);
}

.left,
.right {
   margin-top: 15px;
   text-align: center;
   margin-bottom: 15px;
}

.left span {
   border-radius: 50% !important;
}

.title {
   text-align: center;
   color: var(--secondColor);
   font-size: 5px !important;
   margin-top: 10px;
   font-weight: 400;
}

.subtitle {
   text-align: center;
   color: var(--color-2);
   font-size: 17px;
   font-weight: 100;
}

.section span {
   background-color: var(--color-1) !important;
   border: none !important;
   border-radius: 20px;
   width: 390px;
}

.section input {
   border: none !important;
   background-color: var(--color-1) !important;
   border-radius: 200px !important;
   margin: 0;
}

.section span:hover,
.section span:focus {
   box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11) !important;
   border: 3px solid var(--secondColor) !important;
}

.button {
   border: 1;
   border-radius: 15px;
   background-color: var(--secondColor);
   color: var(--mainColor);
   font-family: 'Inter', sans-serif;
   height: 50px;
   border-color: var(--secondColor);
}

.button:hover {
   background-color: var(--mainColor);
   color: var(--secondColor);
   border-color: var(--secondColor);
}

.clicked:hover {
   color: var(--color-2);
   border-color: var(--secondColor);
}

.option {
   text-align: center;
   color: var(--color-5);
   font-size: 16px;
   font-weight: 400;
   margin-top: 15px;
}

.option a {
   color: var(--secondColor);
   text-decoration: none;
}

.option a:hover {
   text-decoration: underline;
}

@media (min-width: 765px) {
   .section {
      width: 440px;
      height: 100vh;
   }

   .right {
      margin-right: 10px;
      padding: 1rem 1rem;
      margin-top: 0;
      margin-bottom: 5px;
   }

   .title {
      font-size: 2.375rem !important;
   }

   .subtitle {
      font-size: 1.125rem;
   }

   .form_input {
      margin-bottom: 1.875rem;
      width: 380px;
   }

   .form_input:last-of-type {
      margin-bottom: 2.5rem;
   }

   .left {
      padding: 1rem 1rem;
      margin-top: 0;
      margin-bottom: 5px;
      width: 500px;
   }
}